<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <header>
      <%- include('layouts/header'); %>
    </header>
    <hr>
    </hr>

    <div class="blogs">
      <% if (bookings.length> 0) { %>
      <h1>All bookings</h1>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Customer Name</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% bookings.forEach((b, i)=> { %>
          <tr>
            <td>
              <%= i+1 %>
            </td>
            <td>
              <%= b.customerName %>
            </td>
            <td>
              <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(b.date) %>
            </td>
            <td>
              <% if (b.status==="Pending" ) { %>
              <span style="color: yellow">
                <%= b.status %>
              </span>
              <% } else if (b.status==="Confirmed" ) { %>
              <span style="color: green">
                <%= b.status %>
              </span>
              <% } else { %>
              <span style="color: red">
                <%= b.status %>
              </span>
              <% } %>
            </td>
            <td>
              <button>
                <a href="/booking/remove/<%= b._id %>">REMOVE</a> 
              </button>
              <button>
                <a href="/booking/update/<%= b._id %>">UPDATE</a>
              </button>

              <button>
                <a href="/booking/cancel/<%= b._id %>">CANCEL</a>
              </button>
            
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } else { %>
      <p>No bookings found.</p>
      <% } %>
    </div>

    <!-- <% if(messages.success) { %> -->
    <!--   <div class="alert alert-success alert-dismissible fade show" role="alert"> -->
    <!--     <%= messages.success %> -->
    <!--     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
    <!--   </div> -->
    <!-- <% } %> -->

    <%- include('layouts/footer'); %>
  </body>

</html>
